// colors
$white: #ffffff;
$black: #000000;

// fonts
// $main-font-normal: exo2, Arial, sans-serif;
// $main-font-semibold: exo2semibold, Arial, sans-serif;
// $main-font-semibold: exo2semibolditalic, Arial, sans-serif;
// $secondary-font-light: gillsanslight, Arial, sans-serif;
// $secondary-font-normal: gillsansnormal, Arial, sans-serif;
// $secondary-font-bold: gillsansbold, Arial, sans-serif;

// медиазапросы планшет
$tablet1: "max-width: 1100px";
$tablet2: "max-width: 1100px";

// медиазапросы мобайл
$mobile1: "max-width: 770px";
$mobile2: "orientation: portrait";

// МЕДИА ЗАПРОСЫ ШИРОКОФОРМАТ
$wideScreen: "min-aspect-ratio: 32/21";

// МЕДИА ЗАПРОСЫ ШИРОКОФОРМАТ
$wideScreen2: "min-aspect-ratio: 32/20";

// МЕДИА ЗАПРОСЫ ОЧЕНЬ ШИРОКОФОРМАТ
$wideScreen3: "min-aspect-ratio: 32/19";

// МЕДИА ЗАПРОСЫ ОЧЕНЬ ОЧЕНЬ ШИРОКОФОРМАТ
$wideScreen4: "min-aspect-ratio: 32/17";
